<?xml version="1.0"?>

<model>
  <name>turtlebot</name>
  <version>1.0</version>
  <sdf version="1.6">kobuki_hexagons.sdf</sdf>

  <author>
    <name>osrf</name>
    <email>osrf@osrfoundation.org</email>
  </author>

  <author>
    <name>Nate Koenig</name>
    <email>natekoenig@gmail.com</email>
  </author>

  <description>
    Kobuki robot
  </description>

</model>
